__pycache__/
!*/**/ansible_roles/requirements*.yml
.cache
.env
.fact_cache
.junit_result
.molecule
.ssh
.vagrant
.vscode
*.pyc
*.retry
*.retry
**/.DS_Store
**/*.json
**/vaultpass
*/**/ansible_roles/*
*/**/personal-credentials.yml
infra-auth-vaultpass
roles/stone-payments.*
vaultpass
