.cache
.env
.fact_cache
.junit_result
.molecule
.ssh
.vagrant
.vscode
*.pyc
molecule/*/.molecule
molecule/*/.cache
.cache
*.retry
**/__pycache__
roles/*
!roles/requirements.yml
.vscode
.pytest_cache
*.log