[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = "*"
python-vagrant = "*"
ansible-lint = "*"
flake8 = "*"
yamllint = "*"
testinfra = "*"
docker = "*"

[packages]
ansible = "*"
netaddr = "*"

[requires]
python_version = "3.8"
