integration_name: com.newrelic.rabbitmq

instances:
  - name: {{ rabbitmq_newrelic_cluster_name }}
    command: {{ rabbitmq_newrelic_command }}
    arguments:
      hostname: {{ rabbitmq_newrelic_hostname }}
      username: {{ rabbitmq_newrelic_username }}
      password: {{ rabbitmq_newrelic_password }}
      config_path: {{ rabbitmq_newrelic_config_path }}
      use_ssl: {{ rabbitmq_newrelic_use_ssl }}
{% for k,v in rabbitmq_filters.items() %}
      {{k}}: '{{v | to_json }}'
{% endfor %}
    labels:
      env: {{ rabbitmq_newrelic_labels.env | default('test', true) }}
      role: {{ rabbitmq_newrelic_labels.role | default('rabbitmq', true) }}
