integration_name: com.newrelic.rabbitmq

instances:
  - name: {{ rabbitmq_newrelic_cluster_name }}
    command: {{ rabbitmq_newrelic_command }}
    arguments:
      hostname: {{ rabbitmq_newrelic_hostname }}
      username: {{ rabbitmq_newrelic_username }}
      password: {{ rabbitmq_newrelic_password }}
      config_path: {{ rabbitmq_newrelic_config_path }}
      use_ssl: {{ rabbitmq_newrelic_use_ssl }}
      queues: {{ rabbitmq_newrelic_queues | default(None) | to_json or omit }}
      exchanges: {{ rabbitmq_newrelic_exchanges | default(None) | to_json or omit }}
      vhosts: {{ rabbitmq_newrelic_vhosts | default(None) | to_nice_json(indent=8) or omit }}
      queues_regexes: {{ '[".*"]' | omit if rabbitmq_newrelic_queues is defined }}
      exchanges_regexes: {{ '[".*"]' | omit if rabbitmq_newrelic_exchanges is defined }}
      vhosts_regexes: {{ '[".*"]' | omit if rabbitmq_newrelic_vhosts is defined }}
    labels: {{ rabbitmq_newrelic_labels | dafault(None) | omit }}

