## ======================================
## RabbitMQ broker section
## ======================================

## Related doc guide: https://rabbitmq.com/configure.html. See
## https://rabbitmq.com/documentation.html for documentation ToC.

## Networking
## ====================
listeners.tcp.default = {{ rabbitmq_conf_tcp_listeners_address ~ ":" if rabbitmq_conf_tcp_listeners_address is defined and rabbitmq_conf_tcp_listeners_address|ipaddr else ":::" }}{{ rabbitmq_conf_tcp_listeners_port | default("5672")}}
num_acceptors.tcp = {{ rabbitmq_conf_num_acceptors_tcp | default("10")}}

##
## Security, Access Control
## ==============
loopback_users.guest = false

##
## Resource Limits & Flow Control
## ==============================
vm_memory_high_watermark.relative = {{ rabbitmq_conf_vm_memory_high_watermark | default ("0.4")}}
disk_free_limit.relative = {{ rabbitmq_conf_disk_free_limit_mem_relative }}

